name: Build the site
on:
  pull_request:
    types: [opened]
  issue_comment:
    types: [created, edited]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v2
        id: my-script
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const creator = context.payload.sender.login
            try {
              const collaboratorStatus = await github.repos.checkCollaborator({
                owner: 'jeffwilcox',
                repo: 'actions-testing',
                username: creator,
              });
              console.log('cs:');
              console.dir(collaboratorStatus);
            } catch (error) {
              console.log('error:');
              console.dir(error);
            }
            
