name: Build the site
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: azure/docker-login@v1
      - uses: actions/github-script@v2
        id: my-script
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: return "I will be string (not JSON) encoded!"
