name: Build the site
on:
  pull_request:
    types: [opened]
  issue_comment:
    types: [created, edited]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v2
        id: authorizeAction
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const creator = context.payload.sender.login
            let association = 'NONE';
            let couldAction = false;
            if (context.payload.pull_request) {
              association = context.payload.pull_request.author_association;
              couldAction = true;
              console.log('This is a new pull request.');
            } else if (context.payload.comment) {
              association = context.payload.comment.author_association;
              const comment = context.payload.comment;
              if (comment.body && comment.body.includes('/build')) {
                console.log('Comment includes /build');
                couldAction = true;
              }
            }
            console.log(`Author ${creator} has association ${association}`);
            switch (association) {
              case 'COLLABORATOR':
              case 'OWNER':
                console.log('Owner or collaboration, authorized to approve pull request or issue actions');
                return { collaborator: true, action: couldAction === true };
              default:
                return { collaborator: false, action: false };
            }
      - name: "Only do more if authorized"
        run: "echo always"
      - name: "Only do more if authorized"
        run: "echo always"
