#
# Build authorized pull requests, creating a compressed content tgz
# with the generated site, storing it as an artifact.
#
name: Consider building pull request content
on:
  pull_request: # considered pull_request_target, not needed
    types: [opened]
  pull_request_review:
    types: [submitted, edited]
  pull_request_review_comment:
    types: [created, edited]
jobs:
  potentialPullRequestBuild:
    runs-on: ubuntu-latest
    steps:
    #       actions/checkout@v2
    - uses: actions/checkout@2036a08e25fa78bbd946711a407b529a0a1204bf
    #       actions/github-script@v2
    - uses: actions/github-script@44b873bc975058192f5279ebe7579496381f575d
      name: "Authorization checks"
      id: authorizeAction
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          try {
            const authorizationCheck = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/authorizationCheck.js`)
            return await authorizationCheck({github, context});
          } catch (error) {
            console.error(error);
            throw error;
          }
    - name: "Associated Git SHA"
      if: github.sha
      run: echo The associated Git event SHA is $GITHUB_SHA
    - name: "No action required"
      if: (steps.authorizeAction.outputs.action == false || steps.authorizeAction.outputs.authorizedWriter == false) && github.sha
      run: |
        echo TODO: update message
        echo No further action necessary or approved at this time.
        echo To authorize a pull request build, the event must be associated with a commit github.sha, and conditions then are either:
        echo - Pull request is opened by a current repository collaborator with write or admin permissions
        echo - Pull request comment is made by a repository collaborator with the string "/startContentBuild" to approve building the content
    - name: "Approval for build"
      if: steps.authorizeAction.outputs.action == true && github.sha && steps.authorizeAction.outputs.authorizedWriter == true
      run: |
        echo TODO: update message
        echo Building the content for this commit has been approved, either because the PR was opened by a collaborator, or an authorized individual passed the "/startContentBuild" value inside a comment.
