#
# Build authorized pull requests, creating a compressed content tgz
# with the generated site, storing it as an artifact.
#
name: Consider building pull request content
on:
  pull_request: # considered pull_request_target, not needed
    types: [opened]
  pull_request_review:
    types: [submitted, edited]
  pull_request_review_comment:
    types: [created, edited]
jobs:
  potentialPullRequestBuild:
    runs-on: ubuntu-latest
    steps:
    #       actions/checkout@v2
    - uses: actions/checkout@2036a08e25fa78bbd946711a407b529a0a1204bf
    #       actions/github-script@v2
    - uses: actions/github-script@44b873bc975058192f5279ebe7579496381f575d
      name: "Authorization checks"
      id: authorizeAction
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          try {
            const authorizationCheck = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/authorizationCheck.js`)
            const output = await authorizationCheck({github, context});
            console.log('output:');
            console.dir(output);
            return output;
          } catch (error) {
            console.error(error);
            throw error;
          }
    - name: "Associated Git SHA"
      if: github.sha
      run: echo The associated Git event SHA is $GITHUB_SHA
    - name: "No action required"
      if: steps.authorizeAction.outputs.authorized != true && github.sha
      run: |
        echo No further action necessary or approved at this time.
    - name: "Approval for build"
      if: steps.authorizeAction.outputs.authorized == true && github.sha
      run: |
        echo Authorized to go do things.
